
<footer style="height: auto;">
    <p class="text-center" style="margin:0; padding: 25px; font-size: 20px; background-color: grey; color: white;">Scraping using node and mongodb </p>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>