<% include ./partials/header%>
<div class="container main">
    <% for (var i = 0; i < 10; i++){%>
    <div class="thumbnail" style="padding: 2%;">
        <div class="row content">
            <div class="col-lg-6 col-sm-12">
                <img src="<%= results[i].Image%>" alt="Image">
            </div>
            <div class="col-lg-6 col-sm-12">
                <h2><%= results[i].Title %></h2>
                <p><%= results[i].Content %></p>
                <div>
                    <a href="<%= results[i].Link %>" target="_/blank">Read more</a>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script>
    $(document).on("click", ".saveArticle", function () {
        event.preventDefault();
        var image = $(this).parent().parent().parent().children().eq(0).children().eq(0).attr("src");
        var title = $(this).parent().parent().children().eq(0).text();
        var link = $(this).parent().children().eq(0).attr("href");
        var content = $(this).parent().parent().children().eq(1).text();
        $.ajax({
            url: "/saveArticle",
            method: "POST",
            data: { title: title, link: link, content: content, image: image }
        }).then(function (response) {
            console.log(response)
        })
    })
</script>
<% include ./partials/footer%>
</body>
</html>