<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

	<div id="bg"></div>
	<header>
		<a href="#">News</a>
	</header>
	<main>
		<section id="card">
			<ul>
				<!-- <li>
                    <span></span> -->
				<!-- <strong>How may i help you grow</strong> -->
				<!-- </li>
                <li> -->
				<!-- <span></span> -->
				<!-- <strong>I dont know if i can be helped</strong> -->
				<!-- </li>
                <li> -->
				<!-- <span></span> -->
				<!-- <strong>Thats deep let me help</strong> -->
				<!-- </li> -->
			</ul>
		</section>
		<section id="primary">
			<h1>Your personal news assistant</h1>
			<p>Get help with your daily news stuff</p>
			<!-- <a href="#">Get help already</a> -->
		</section>
	</main>
	<script src="https://code.jquery.com/jquery-3.4.0.min.js"
		integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
	<script type="text/javascript">
		function myFunction(x) {
			x.classList.toggle("fa-thumbs-down");
		}
		function clickCounter() {
			$(".fa fa-thumbs-up").click(() => {
				var input = $(this).siblings('.qty1');
				$div.append(input.val()) + 1;
				$(".fa fa-thumbs-up").append($div);
			});
		}
		$.ajax({
			method: 'GET',
			url: "/all"
		}).then(function (news) {
			for (var nIndex in news) {
				var $section = $("<section>");
				$section.attr('id', 'card');
				var $ul = $("ul");
				var $li = $("<li>");
				var $i = $("<i>");
				var $div = $("<div>");
				$div.attr('class','qty1');
				$div.attr('type','text');
				$div.attr('value','0');
				$div.attr('onclick', 'clickCounter()');
				$i.attr('class', 'fa fa-thumbs-up');
				$i.attr('onclick', 'myFunction(this)');
				$li.text(`${news[nIndex].title}`);
				$li.append($div);
				$li.append($i);
				$ul.append($li);
				$section.append($ul);
				$("main").append($section)
				
				// var $p = $('<p>');
				// $p.text(`_id: ${news[nIndex]._id} - name: ${news[nIndex].title}`);
				// $('div').append($p);
			}
			clickCounter();
		})
	</script>
</body>

</html>